body{

margin:0;
font-family:Lato;
background:#FDFBF7;
color:#333;

}

header{

background:#6A1B1A;
padding:20px;

position:sticky;
top:0;

}

nav{

display:flex;
justify-content:space-between;
align-items:center;

}

.logo{

font-family:Cinzel;
font-size:28px;
color:gold;

}

nav ul{

display:flex;
list-style:none;
gap:30px;

}

nav a{

color:white;
text-decoration:none;

}

.hero{

height:90vh;

display:flex;
flex-direction:column;

justify-content:center;
align-items:center;

background:url(images/hero.jpg);

background-size:cover;
background-position:center;

color:white;

text-align:center;

}

.hero h1{

font-size:64px;

font-family:Cinzel;

}

.button{

background:gold;

padding:15px 30px;

color:black;

text-decoration:none;

border-radius:40px;

}

section{

padding:80px 10%;

}

h2{

font-family:Cinzel;

color:#6A1B1A;

text-align:center;

font-size:42px;

}

.gallery{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(250px,1fr));

gap:20px;

}

.gallery img{

width:100%;

border-radius:12px;

}

footer{

background:#6A1B1A;

color:white;

text-align:center;

padding:30px;

}
